<div ng-controller="feedController" ng-init="feedInit()">
  <h1> Find Food </h1>
  <div class="panel-group" id="accordion">
    <div ng-repeat="place in places">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <button class="btn btn-primary" type="button" aria-expanded="false" aria-controls="collapse{{place._id}}" data-toggle="collapse" data-target="#collapse{{place._id}}">
            {{place.name}}</button> <span>{{place.address}}</span>
          </h4>
        </div>
        <div id="collapse{{place._id}}" class="panel-collapse collapse">
          <div class="panel-body">
            <img src={{place.imgUrl}}>
            <p>About Us: {{place.aboutUs}}</p>
            <p> Donating: <span ng-repeat="item in place._item"><br>{{item.name}}: {{item.amount}} {{item.unit}}s</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </div>