

    
  <div ng-controller="donorController" class="form-box col-xs-12 col-sm-10 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="form-top">
      <h2>Donate an Item</h2>
      <h4 class="register-span"></h4>
    </div>
    <div class="form-bottom">
      <form method="post">
        <div>
          <label for="item">Name</label>
          <input class="form-control" name="itemName">
          <span class="help-block"></span>
        </div>
        <div> 
          <label for="address">Unit</label>
          <input required type="text" class="form-control" name="unit">
          <span class="help-block"></span>
        </div>
        <div>
          <label for="website">Category</label>
          <input required type="text" class="form-control" name="category">
          <span class="help-block"></span>
        </div>

        <div>
          <label for="userFirstName">Price per Unit</label>
          <input required type="text" class="form-control" name="pricePerUnit">
          <span class="help-block"></span>
        </div>
        <div>
          <label for="username">Number of Units</label>
          <input required type="text" class="form-control" name="numberofUnits">
          <span class="help-block"></span>
        </div>
   
        <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
        <button type="submit" class="btn btn-warning btn-block">Add</button>
      </form>
    </div>
  </div>
