body{
  background: url('/assets/img/good_form.jpg') no-repeat 100% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;

}
.navbar-default .navbar-nav > li > a {
    color: #1f8c8f;
    background-color: white;
    border-color: black;
}

.logbutbg{
  background-color: #1f8c8f; 
  
}

button.logbutbg:hover{
  background-color: transparent;
  border: 1px dotted;
}

/* REGISTRATION */
.form-box {
  background-color: rgba(255,255,255,.65);
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 5%;
}

.login {
  background-color: transparent;
  margin-top: 34%;
  margin-right: 5%;
}
/*
button.primary{
  background-color: #1f8c8f !important;
}
*/

.clear{
  padding-bottom: 25px;
}
.icon{
  padding: 10px;
}

#goodFormDesc.dropdown-menu {
  min-width: 600px;
  padding: 15px 15px 1px 15px;
  border: 1px dotted;

}
